body {
    background-color: lightcoral;
}

div {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 10px;
    background-color: mistyrose;
}

div#profile {
/*    background-color: beige;*/
}

div#friends {
/*    background-color: beige;*/
    max-width: 400px;
}

div#interests {
/*    background-color: beige;*/
    max-width: 400px;
}

div#wishlist {
/*    background-color: beige;*/
}

div#suggestions {
/*    background-color: beige;*/
}

div.nope {
/*    background-color: beige;*/
    max-width: 200px;
}

div.header {
    margin: -7px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: pink;
    height: 50px;
}

div.header p {
/*    position: relative;*/
/*    right: 0;*/
    float: right;
}
div.header h3 {
    float: left;
/*    position: relative;*/
/*    right: 0;*/
}

* {
    font-family: sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 2px solid lightpink;
    text-align: center;
    padding: 2px;
}